.container {
    display: inline-flex;
    margin: 100px;
    gap: 50px;
}
#first{
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
}
#second{
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
}