* {
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
}

.container{
    margin: 10px;
    /* border: 3px solid black ; */
    display: inline-block;  
}

.input{
    font-size: 15px;
    margin: 10px;
}

#weight, #height{
    font-size: 20px;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button{
    padding: 12px;
    border: 3px solid grey;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

button:hover{
    border: 5px solid #00000063;
}